---
import Layout from '../layouts/Layout.astro';
import TextField from '../components/TextField.astro';
---

<Layout title="DevOps C/ Astro - Gianluca Onisanti">
	<main>
		<div class="center">
			<TextField label='Nome' />
			<TextField label='Sobrenome' />
			<TextField label='Idade'/>
			<TextField label='Curso' />
		</div>
	</main>
</Layout>