---
import Formulario from '../components/Formulario';
import Lista from '../components/Lista';
import Layout from '../layouts/Layout.astro';
---

<Layout title="DevOps Com Astro - Gianluca Onisanti">
  <main style="display: flex;"> 
    <div style="max-height: 500px; flex: 1; margin-right: 20px;"> 
      <Formulario client:load />
      <div style="text-align: center; margin-top:-30px;">
        <h2>App ReactAstro/AxiosAPI</h2>
        <p style="font-size:small; margin-top:-20px;">Ao clicar em 'Enviar', os dados são escritos em um JSON local por meio
          do Node.js, que é ativado por API ao inicizalizar o aplicativo. Então, uma escuta entre os dois
          componentes é ativada, trazendo os dados novos imediatamente na lista.
        </p>
      </div>
    </div>
    <div style="margin-top: 35px; flex: 1; max-height: 500px; overflow: auto;"> 
      <Lista client:load />
    </div>
  </main>
</Layout>